:root {
  --search-padding: 20px;
  --long: 400px;
}

.App {
  text-align: center;
  position: relative;
}

header {
  width: 100%;
  padding-top: 10%;
  font-family: "WSJ", Arial, sans-serif;
  transition: .05s;
}

.subtitle {
  color: grey;
  letter-spacing: -2px;
}

.speaker {
  color: grey;
  font-weight: bold;
}

.searchForm {
  width: 80%;
  position: relative;
  margin: auto;
  /* padding-bottom: 2em; */
}

.searchInput {
  position: relative;
  border: none;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: var(--search-padding);
  border: 1px solid #999999;
  font-family: "Arial", Arial, sans-serif;
  outline: none;
  padding: 0px var(--search-padding) 0px;
  font-size: 14px;
  width: 120px;
}

label {
  margin-left: 15px;
  margin-right: 5px;
  color: grey;
}

.searchInput:hover {
  box-shadow: 1px 1px 7px grey;
  border: 1px solid #ffffff;
}

.searchInput:focus {
  outline: none;
}

.option {
  font-weight: bold;
}

.option:hover {
  box-shadow: 0.5px 0.5px 2px grey;
}

.longOption {
  width: var(--long); 
}

.SearchBar {
  width: 480px;
  font-size: 20px;
  padding: 5px var(--search-padding) 5px;
}

.RelatedTopics {
  /* background-color: red; */
  padding-top: 10px;
  max-width: 50%;
  display: block;
  position: relative;
  margin: auto;
  padding-bottom: 2em;
}

.title {
  font-family: "WSJ", Arial, sans-serif;
}

.SearchResult {
  /* width: 80%; */
  position: relative;
  text-align: left;
  margin-bottom: 1%;
  border: 1px solid gray;
  padding: 2%;
  border-radius: 5px;
  /* box-shadow: 1px 1px 5px; */
  /* background-color: white; */
}

.SearchResult:hover {
  background-color: #f2fcff;
  transition: ease-in-out 0.3s;
}

/* .SearchResult::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 50%;
    left: 25%;
    border-bottom: 1px solid grey;
    z-index: -1;
} */

mark.query{
  padding: 0em;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: #eeca86;
}

a.related {
  color: rgb(114, 114, 114);
  background-color: rgb(192, 214, 255);
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

p {
  padding: 0px;
  margin-bottom: 0px;
  margin-block-end: 0px;
}

.light {
  color: gray;
}

.italic {
  font-style: italic;
}

.dark {
  font-weight: bold;
}

a.context {
  display: block;
  position: absolute;
  bottom: 15px;
  right: 20px;
}

a.context.light:hover {
  color: #3493ff;
  text-decoration: underline;
  cursor: pointer;
}

.date {
  margin: 20px;
  font-style: italic;
}

.react-autosuggest__container {
  position: relative;
  display: inline;
}

.react-autosuggest__input {
  height: 30px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  margin: auto;
  top: 22px;
  left: 20px;

  width: calc(var(--long) - 20px); 
  border: 1px solid #aaa;
  background-color: #fff;
  /* font-family: Helvetica, sans-serif; */
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 10;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 5px 10px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
