body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  /* https://stackoverflow.com/questions/41676054/how-to-add-fonts-to-create-react-app-based-projects */
  font-family: 'WSJ';
  src: local('WSJ'), url(./fonts/Old-Standard-Bold-Font/OldStandard-Bold.otf) format('opentype');
}
